#header {
	background: #a3848d;
	color: #522b37;
}

#header a:visited, #header a:link, #logout-form button {
    color: #ffe0ea;
}

#site-name a:visited {
    color: #522b37;
}

body {
    background: #fccad9;
    color: #522b37;
}

.form-row label {
    color: #522b37;
}

h1 {
    color: #522b37;
}

tr:nth-child(2n+1), .row-form-errors {
  background: #ffe0ea;
}

tr:nth-child(2n), tr:nth-child(2n) .errorlist, tr:nth-child(2n+1) + .row-form-errors, tr:nth-child(2n+1) + .row-form-errors .errorlist
{
  background: #ffe0ea;
}

a.section:link, a.section:visited {
  color: #ffe0ea;
}

a:link, a:visited {
  color: #522b37;
}

.module h2, .module caption, .inline-group h2 {
    background: #522b37;
    color: #a3848d;
}

.help, p.help, form p.help, div.help, form div.help, div.help li {
    color: #522b37;
}

.object-tools a:link {
    background: #522b37;
}

.aligned label.required {
    color : #522b37;
}

input[type="text"] {
    background:  #522b37;
}

.aligned .form-row input.vTextField {
    background:  #522b37;
}

.selector-chosen a.selector-clearall {
    color:  #522b37;
}

.selector-available a.selector-chooseall{
    color:  #522b37;
}

.related-widget-wrapper .selector .selector-available h2 {
    background:  #522b37;
}

.related-widget-wrapper .selector .selector-chosen h2 {
    background:  #522b37;
}

.related-widget-wrapper .selector ul.selector-chooser {
    background-color:#522b37;
}

.selector select {
    background-color: #522b37;
}

.form-row p.datetime {
    color:  #522b37;
}

p.datetime span {
    color:  #522b37;
}

.content .submit-row {
    background: #522b37;
}

.submit-row input[type="submit"] {
    background: #3e1e28;
}

#content-related {
  background: #ffe0ea;
  color: #522b37;}

#content-related .quiet, a.quiet:link, a.quiet:visited {
  color: #522b37; }

#content-related .module h2 {
  background: #a3848d;
  color: #ffe0ea;
}

#content-related h3{
  color: #a3848d;
}

div.breadcrumbs {
    background: #522b37;
    color: #ffe0ea;
}
div.breadcrumbs a{
    color: #a3848d;
}

.toggle-nav-sidebar {
    border-right: 1px solid #522b37;
    background-color: #522b37;
}

.toggle-nav-sidebar:hover, .toggle-nav-sidebar:focus {
  background-color: #522b37;
}

#nav-sidebar {
    border-right: none;
    background-color: #fccad9;
}

#nav-filter {
    background-color: #fccad9;
    border: none;
    color: #522b37;
}

#nav-sidebar .current-model {
    background: #fccad9;
}

.module {
  background: #fccad9;
}

