{% extends 'base.html' %}

{% block content %}
<table>
{% for a in anime %}
<tr>
    <td><a href="{{ a.get_absolute_url }}"><img class="img-article-left" alt="" src="{{ a.image.url }}" height="200" width="150"></a></td>
    <td>
        <h1 class="link-read"><a href="{{ a.get_absolute_url }}">{{ a.name_ru }}</a></h1>
        <p>{{ a.description|truncatewords:80 }}</p>
        <div class="cell-margin"><p class="link-edit" align="right"><a href="{{ a.get_absolute_url }}">Подробнее</a></p></div>
    </td>
</tr>
{% endfor %}
</table>

{% endblock content %}