{% extends 'base.html' %}

{% block content %}
<div class="content-table">
    {% if anime.image %}
    <div class="cell-margin"><a href="{{ anime.get_absolute_url }}"><img class="img-article-right" src="{{ anime.image.url }}"></a></div>
    {% endif %}
    <div class="cell-margin">
        Русское название: {{ anime.name_ru }}
    </div>
    <div class="cell-margin">
        Английское название: {{ anime.name_en }}
    </div>
    <div class="cell-margin">
        Японское название: {{ anime.name_jp }}
    </div>
    <div class="cell-margin">
        Жанр:
            {% for g in genre %}
                <a class="back-list" href="{{ g.get_absolute_url }}">{{ g.name }}</a>
            {% endfor %}
    </div>
    <div class="cell-margin">
        Количество эпизодов: {{ anime.episodes }} эп.
    </div>
    <div class="cell-margin">
        Год выпуска: <a class="back-list" href="{{ anime.year.get_absolute_url }}">{{ anime.year }} г.</a>
    </div>
    <div class="cell-margin">
        Режиссер:
            {% for p in producer %}
                <a class="back-list" href="{{ p.get_absolute_url }}">{{ p.name }}</a>
            {% endfor %}
    </div>
    <div class="cell-margin">
        Автор оригинала: <a class="back-list" href="{{ anime.author.get_absolute_url }}">{{ anime.author }}</a>
    </div>
    <div class="cell-margin">
        Теги:
            {% for t in tag %}
                <a class="back-list" href="{{ t.get_absolute_url }}">{{ t.tag }}</a>
            {% endfor %}
    </div>
    <div class="cell-margin">
        Студия:
            {% for s in studio %}
                <a href="{{ s.get_absolute_url }}"><img class="img-logo-studio" src="{{ s.logo.url }}" alt="{{ s.name }}" title="{{ s.name }}"></a>
            {% endfor %}
    </div>
    <div class="cell-margin">
        Краткое описание: {{ anime.description }}
    </div>

    {% if perms.anime.change_anime %}
    <div class="cell-margin"><p class="link-edit" align="right"><a href="{% url 'edit_anime' anime.anime_slug %}">Редактировать аниме {{ title }}</a></p></div>
    {% endif %}
</div>
{% endblock content %}