{% extends 'base.html' %}

{% block content %}
<table cellspacing="10">
    <tr>
        <td>
            {% if anime.image %}
            <p><a href="{{ anime.get_absolute_url }}"><img class="img-article-right" src="{{ anime.image.url }}"></a></p>
            {% endif %}
            <p>
                Русское название: {{ anime.name_ru }}
            </p>
            <p>
                Английское название: {{ anime.name_en }}
            </p>
            <p>
                Японское название: {{ anime.name_jp }}
            </p>
            <p>
                Жанр:
                    {% for g in genre %}
                        <a href="{{ g.get_absolute_url }}">{{ g.name }}</a>
                    {% endfor %}
            </p>
            <p>
                Количество эпизодов: {{ anime.episodes }} эп.
            </p>
            <p>
                Год выпуска: <a href="{{ anime.year.get_absolute_url }}">{{ anime.year }} г.</a>
            </p>
            <p>
                Режиссер:
                    {% for p in producer %}
                        <a href="{{ p.get_absolute_url }}">{{ p.name }}</a>
                    {% endfor %}
            </p>
            <p>
                Автор оригинала: <a href="{{ anime.author.get_absolute_url }}">{{ anime.author }}</a>
            </p>
            <p>
                Теги:
                    {% for t in tag %}
                        <a href="{{ t.get_absolute_url }}">{{ t.tag }}</a>
                    {% endfor %}
            </p>
            <p>
                Студия:
                    {% for s in studio %}
                        <a href="{{ s.get_absolute_url }}">{{ s.name }}</a>
                    {% endfor %}
            </p>
            <p>
                Краткое описание: {{ anime.description }}
            </p>

            <p class="link-edit" align="right"><a href="{% url 'edit_anime' anime.anime_slug %}">Редактировать аниме {{ title }}</a></p>
        </td>
    </tr>
</table>
{% endblock content %}