{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="link-edit">
    <div class="link-edit-breadcrumbs">
        {% if user.is_authenticated %}{% if perms.anime.add_genre %}
        <p><a href="{% url 'edit_tag' tag.tag_slug %}">Редактировать тег: {{ tag.tag }}</a><a href="{% url 'add_new_tag' %}">Добавить тег</a></p>
        {% endif %}{% endif %}
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% include 'anime/show_anime_list_template.html' %}
{% endblock content %}