{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="link-edit">
    <div class="link-edit-breadcrumbs">
        {% if user.is_authenticated %}{% if perms.anime.add_years %}
        <p><a href="{% url 'edit_producer' producer.producer_slug %}">Редактировать режиссера: {{ producer.name }}</a><a href="{% url 'add_new_producer' %}">Добавить режиссера</a></p>
        {% endif %}{% endif %}
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
{% include 'anime/show_anime_list_template.html' %}
{% endblock content %}