<div>
{% for a in anime %}
<div class="content-table">
    <a href="{{ a.get_absolute_url }}"><img class="img-article-left" alt="" src="{{ a.image.url }}"></a>

        <h1 class="link-read"><a href="{{ a.get_absolute_url }}">{{ a.name_ru }}</a></h1>

        {% include 'anime/show_anime_tags_template.html' %}

        <p>{{ a.description|truncatewords:80 }}</p>

        {% include 'anime/show_anime_studio_template.html' %}

        <div class="cell-margin"><p class="link-edit" align="right"><a href="{{ a.get_absolute_url }}">Подробнее</a></p></div>

</div>
{% endfor %}
</div>