{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="link-edit">
    <div class="link-edit-breadcrumbs">
        {% if user.is_authenticated %}{% if perms.anime.add_years %}
        <p><a href="{% url 'add_new_studio' %}">Добавить студию</a></p>
        {% endif %}{% endif %}
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="content-table">
{% for s in studio %}
<div class="list-cell-margin">
    <div class="cell-margin">
        <a href="{{ s.get_absolute_url }}">{{ s }}</a>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}