{% extends 'base.html' %}

{% block breadcrumbs %}
<div class="link-edit">
    <div class="link-edit-breadcrumbs">
        {% if user.is_authenticated %}
        <p><a href="{% url 'add_new_year' %}">Добавить год</a></p>
        {% endif %}
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="content-table">
{% for y in year %}
<div class="list-cell-margin">
    <div class="cell-margin">
        <a href="{{ y.get_absolute_url }}">{{ y }}</a>
    </div>
</div>
{% endfor %}
</div>
{% endblock content %}