{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'anime/css/styles.css' %}" rel="stylesheet" />
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link rel="shortcut icon" href="{% static 'anime/images/main.ico' %}" type="image/x-icon"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<table align="center" width="70%">
<tr><td>
{% block mainmenu %}
		<div>
			<ul id="mainmenu" class="mainmenu">
			<li><a href="{% url 'anime_home_page' %}"><div class="logo"></div></a></li>
		{% for m in mainmenu %}
			<li><a href="{% url m.url_name %}">{{m.title}}</a></li>
		{% endfor %}
		{% if user.is_authenticated %}
			<li class="last"> <a href="{% url 'users:user_profile' %}"> {{ user.username }} | <a href="{% url 'users:logout_user' %}">Выйти</a></li>
		{% else %}
			<li class="last"><a href="{% url 'users:login_user' %}">Войти</a> | <a href="{% url 'users:registration' %}">Регистрация</a></li>
		{% endif %}
			</ul>
			<div class="clear"></div>
		</div>
{% endblock mainmenu %}
</td>

<table align="center" bgcolor="#ffffff" cellpadding="10" cellspacing="10" width="70%">
<tr><td>
<!-- Блок контента -->
{% block content %}
{% endblock %}
<!-- Конец блока контента -->
</td>
</tr>
</table>
</tr>

</body>
</html>